:root {
  --neon-green: #3fb573;
  --dark-green: #06202a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  color: rgb(252, 248, 248);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--neon-green);

  transition: 0.5s ease-in-out;
}

a:hover,
a:active {
  text-decoration: none;
  color: var(--dark-green);
  background-color: var(--neon-green);
}

.item-links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neon-green);
  background-color: var(--dark-green);
  border-radius: 0.5em;
  margin: 0.5em auto;
  padding: 0.25em;

  transition: 0.5s ease-in-out;
}

.item-links:hover,
.item-links:active {
  color: var(--dark-green);
  background-color: var(--neon-green);
}

.container {
  position: relative;
  height: 85vh;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: var(--neon-green);
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 15vh;
  width: 100%;
}

main {
  height: 75vh;
}

footer {
  height: 10vh;
  width: 100%;
  background-color: var(--neon-green);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

header img {
  display: flex;
  width: 200px;
}

.header-link {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.search {
  height: 100px;
}

form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;

  color: var(--neon-green);
}

.cards {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  /* cursor: pointer; */
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

nav.navbar .navbar-nav {
  position: relative;
  display: flex;
  list-style: none;
  text-decoration: none;
}
.nav-link {
  padding: 0 0.5em;
  padding-left: 1em;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to right top,
    var(--neon-green),
    var(--dark-green)
  );
  color: white;
  text-align: center;
}
@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  header {
    display: flex;
    flex-direction: column;
    height: 30vh;
  }
  nav.navbar .navbar-nav {
    padding-top: 1em;
  }
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to right top,
    var(--dark-green),
    var(--neon-green)
  );
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  /* height 0:  hide the horizontal scrollbar */
}
